/* the styles for the elements */
*{
	margin:0;
	padding: 0;
}

html{
	background-color: #FFFFFF;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin: 0px auto;
}
/* the styles for the header */
header{
	padding-top: 1.5em;
	padding-bottom: 2em;
}

header img {
	align-items: center;
	padding:0px 365px;
}

header h2{
	text-align: center;
	font-size:170%;
}

header h3{
	text-align: center;
	font-size:130%;
	font-style:italic;
}

main{
	align-items: center;
	margin: 0 5em;
}

button{
	margin: 0 240px 30px 240px;
	width: 25%;
}

footer{
	clear:both;
}

footer p{
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
}
/* the styles for the footer */
